.container {
    display: flex;
    flex-direction: row;               /* ეს არის row */
    flex-direction: row-reverse;       /* ეს არის row-reverse */
    flex-direction: column;            /* ეს არის column */
    flex-direction: column-reverse;    /* ეს არის column-reverse */

 }